# Node modules for backend and frontend.
node_modules/
frontend/node_modules/*

# VS-Code settings
.vscode/*

# Produces server files
dist/


# Environment files
.env
.env.*

# Generated Swagger JSON file
swagger.json

# Server saved files
resources/
tmp/
